.left-panel {
  width: 190px;
  min-height: 100%;
  /* background-color: rgba(0,0,0,0.1); */
  background-color: #131418;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  right: 18px;
  gap: 8px;
  border-right: 1px solid #2c2f35;
}
.icon-btn-img {
  width: 15px;
  height: 15px;
}

/* .left-icon-btn-img{
  position: relative;
  left: 2px;
} */
/* Header Section */
.left-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assets-container {
  height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  width: 190px;
  top: 30px;
}

.icon-btn {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .icon-btn:hover {
  transform: scale(1.1);
} */

.project-name {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2c2f;
  border-radius: 5px;
  width: 105px;
  height: 20px;
  position: relative;
  right: 13px;
  white-space: nowrap;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}

/* Tabs Section */
.tab-container {
  display: flex;
  gap: 6px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1e21;
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.45);
  inset: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid #545454;
  border-radius: 5px;
  padding: 3px 3px;
}

.tab-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 48px;
  padding: 0px 6px;
  height: 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-weight: 200;
  cursor: pointer;
  transition:
    background-color 0.3s,
    font-weight 0.2s;
}

/* .tab-btn:hover {
  background-color: #4a4a4a;
} */

.tab-btn.active {
  background-color: #2d2e32;
  font-weight: 200;
  color: #e5e5e5;
  border: 1px solid #545454;
}

.tab-btn-icon {
  height: 14px;
  width: 14px;
}

.tab-btn span {
  font-size: 9px;
  line-height: 1;
}

/* Divider */
.left-divider {
  height: 1px !important;
  width: 190px;
  min-width: 190px;
  position: relative;
  right: 7px;
  background-color: #2c2f35;
}

/* Section Styles */
.section {
  position: relative;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.add-btn-img {
  position: relative;
  left: 22px;
  color: #ffffff;
}

.section-title {
  font-size: 12px;
  font-weight: 400;
  padding: 0px 20px;
  color: #ffffff;
  margin: 0;
}

.add-btn {
  background: none;
  border: none;
  color: #ffffff;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .add-btn:hover {
  transform: rotate(90deg);
} */

.section-list {
  list-style: none;
  padding: 0px 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.check-icon-img {
  position: relative;
  /* right: 1px; */
  padding-left: 0px;
}

.section-item {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: 2px;
  width: 190px;
  height: 22px;
  background-color: #1d1e21;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 10px;
}

.section-item:hover {
  background-color: #2c2f35;
}

.check-icon {
  padding: 13px;
  font-size: 12px;
}

.section-header-content {
  display: flex;
  align-items: center;
  padding: 0px;
  /* gap: 10px; */
}
.section-title-img {
  position: relative;
  right: 12px;
}

.assets-item {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 18px;
  font-size: 10px;
  font-weight: 300;
}
