/* Container */
.top-section-container-outer {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  z-index: 99;
  position: relative;
}

.top-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  top: 30px;
  height: 45px;
  width: 335px;
  background-color: #131418;
}

/* Top Section */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 0;
  border-radius: 12px;
  width: 100%;
}

/* Icon Button */
.top-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  width: 50px;
  height: 34px;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-icon-button.active {
  background-color: #2b2c2f;
}

.top-icon-img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

.top-icon-img-active {
  height: 15px;
  width: 15px;
  object-fit: contain;
}

/* Line separator */
.line-img {
  width: 1px;
  height: 6px !important;
  margin: 0;
  position: relative;
  bottom: 15px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Zoom Control */
.zoom-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 6px 12px;
  padding-left: 0 !important;
  white-space: nowrap;
}

.zoom-control-img {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

/* Popup Styles */
.popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #131418;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 14px 14px;
  width: 476px;

  height: fit-content;
  top: 110px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

.popup-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  /* margin-bottom: 8px; */
}

.popup-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 12px;
  border: 1px dashed #8a8a8a;
  border-radius: 10px;
}

/* Popup Item */
.popup-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 3px;
  padding: 10px;
  background-color: #31333a;
  color: #fff;

  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
}

.small-text {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  opacity: 0.8;
  color: #d9d9d9;
}

/* Backdrop */
/* .popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
} */

@media screen and (max-width: 1090px) {
  .top-icon-img {
    width: 20px;
    height: 20px;
  }
}
